{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('css/container.css') }}">
{% endblock %}
{% block body %}
    <body>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <div class="carousel-inner">
    <div class="carousel-item active">
    <img src="C:/Users/carrefour drancy/Documents/symfony/my-project/public/logo1.jpg" class="d-block w-100" alt="...">

    </div></div></ol></body>
{% endblock %}
